body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    color: rgba(255, 255, 255, 0.779);
    text-decoration: none;
}]

a:hover {
 text-decoration: underline;
}

.container{
    width: 100%;
    margin: auto;
    padding-top: 30px;
}
.ava{
    width: 250px;
    border-radius: 25px;
    box-shadow: 4px 4px 14px rgba(0,0,0,25);
}

.info{
    display: flex;
    margin-bottom: 20px;
}
.info-text{
    margin-left: 40px;
}
.info-text h4{
    margin-bottom: 10px;
}
.info p{
 color: #7e0094;
 font-style: italic;
}

.bg-purple{
background: #270152;
}
.card{
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.card h2{
    margin-bottom: 10px
}
.list{
    padding: 0px 20px;
    list-style: none;
}
.list li{
    color: #7e0094;
    margin-bottom: 10px;s
}
.table{
    width: 100%;
}
.table td{
    padding-bottom: 10px;
}
.table td:nth-child(2),td:nth-child(3){
color: #7e0094;
}
.link-list{
    list-style: none;
    padding: 0;
}
.link-list li{
    margin-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}
.contact h2{
text-align: center;
}
.form-group label{
 display: block;
 font-size: 14px;
 color: #7e0094;
}
.form-group input, .form-group textarea{
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    color:rgb(255, 255, 255, 0.779);
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}
.row{
    display: flex;
    margin-bottom: 20px;
}
.row > .form-group{
    width: 50%;
    margin-right: 20px;
}
.row > .form-group:last-child{
    margin-right: 0px;
}
.btn{
 background: rgb(47, 0, 72);
 color: rgb(255, 255, 255, 0.779);
 padding: 15px 20px;
 border: none;
 border-radius: 20px;
 font-family: inherit;
 cursor: pointer;
}
.btn hover{
    opacity: 0.9;
}
